@font-face {
    font-family: "Avigul";
    src: url("media/avigul-bold-fm.098e37816243b45163715f653.86cd763bc8a25b63e23707da1110b42d.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AvigulReg";
    src: url("media/avigul-regular-fm.cb107146ee1ea2077c221e.0c9d824a125bac7e0d7aeb30dd7b0cdf.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* body {
    font-family: "Avigul", sans-serif;
    background-image: url("media/backgroundnew1.svg");
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    direction: rtl;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

} */

body {
    font-family: "Avigul", sans-serif;
    direction: rtl;

    margin: 0;
    /* מבטיח שאין רווחים מסביב */
    background-image: url('media/backgroundnew1.svg');
    height: 100vh;
    /* גובה המסך */
    width: 100vw;
    /* רוחב המסך */

    background-size: cover;
    background-position: center;

    /* או contain */
    background-repeat: no-repeat;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background-wrapper {
    position: fixed;
    /* תמיד מאחורי כל האלמנטים */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* מאחורי הכל */
    overflow: hidden;
}

#background-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* מתאים את התמונה לחלון בלי להראות שוליים */
    object-position: center;
    /* נשאר במרכז */
}

#app {
    position: relative;
    z-index: 10;
    /* מעל הרקע */
}


#arrow-icon {
    position: absolute;
    width: 7vw;
    height: auto;
    top: 75%;
    right: 2vw;
    cursor: pointer;
}

#choose-chpater {
    border: 6px solid #d8cabe;
    font-size: 3vmin;
    padding-right: 2vh;
    padding-left: 2vh;
    border-radius: 30px;
    color: #61888d;
    background-color: #e8ddd3;
    cursor: pointer;
    font-weight: bold;
    width: 8vw;
    text-align: center;
    position: absolute;
    top: 89vh;
    right: 2vw;
}

#chapters-container {
    text-align: center;
    width: 80vw;
    border: none;
    border-radius: 20px;
    background-color: #d8cabe;
    position: absolute;
    top: 92vh;
    right: 15vw;
}

.chapter-btn {
    font-family: "Avigul", sans-serif;

    font-size: 3vmin;
    padding-right: 4.5vh;
    padding-left: 4.5vh;
    margin: 6px 2vw;
    border: none;
    border-radius: 20px;
    color: #61888d;
    background-color: #e8ddd3;
    cursor: pointer;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("media/backgroundnew1.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
}



.text-style {
    /* display: none; */
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
}

.logo-style {
    position: absolute;
    left: 2.1vw;
    top: 4.8vh;
    width: 18vw;
    height: auto;
}

#arrow-prev {
    /* visibility: hidden; */
    position: absolute;
    width: 7vw;
    height: auto;
    top: 75%;
    left: 2vw;
    cursor: pointer;
}

.tooltip-intro {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37%;
    height: auto;
}

.scroll-box {
    color: #61888d;
    height: 26vh;
    font-size: 3vmin;
    border: none;
    border-radius: 40px;
    background-color: #e6e6e6;
    position: absolute;
    right: 7%;
    top: 35%;
    direction: ltr;
    padding: 1vh;
    /* padding חיצוני לבורדר */
    /* box-sizing: border-box; */
    padding: 2vh 1vw;
}

.scroll-inner {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 2vh;
    padding-right: 2vw;
    /* padding: 2vh 2vw; */
}

.scroll-inner p {
    direction: rtl;
    text-align: right;
}

.bold-title {
    font-family: "Avigul";
}

.text-regular {
    font-family: "AvigulReg";
}


.scroll-inner::-webkit-scrollbar {
    width: 1vw;
}

.scroll-inner::-webkit-scrollbar-track {
    background: #c6b7aa;
    border-radius: 10px;
}

.scroll-inner::-webkit-scrollbar-thumb {
    background: #e8ddd3;
    border-radius: 20px;
    border: 0.25vw solid #c6b7aa;
}

.scroll-inner::-webkit-scrollbar-thumb:hover {
    background: #c6b7aa;
}

.button-game {
    font-family: "Avigul", sans-serif;

    position: fixed;
    top: 1vw;
    right: 1vw;

    width: 17vw;
    font-size: 4.5vmin;
    font-weight: bold;
    background-color: #61888d;
    color: #fffaf5;
    border: none;
    border-radius: 30px;
    padding: 0.5vw;
    cursor: pointer;
}


.game-container {
    pointer-events: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    /* בלי לעלות למעלה */
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;
}

.blue-area {
    display: flex;
}

.blue-card {
    border: none;
    box-shadow: 2px 2px 10px #61888d;
    width: 14%;
    background: #dbf6fa;
    color: #61888d;
    font-weight: bold;
    display: flex;
    border-radius: 23px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: grab;

}

/* .yellow-area {
    width: 100%;
    margin-top: 20px;
} */

.yellow-row {
    display: flex;
    justify-content: center;
}

.yellow-card {
    position: relative;
    width: 14%;
    box-shadow: 2px 2px 10px #61888d;
    border: none;
    background: #ffe4a8;
    color: #61888d;
    padding: 2vw 1vh;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

.blue-card:active {
    cursor: grabbing;
}

.correct-icon,
.wrong-icon {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 22px;
    height: 22px;
}

.true-icon {
    z-index: 5;
    width: 2vw;
    height: auto;
}

.false-icon {
    z-index: 5;
    width: 2vw;
    height: auto;
}

/* שכבת רקע שחורה שקופה */
#game-overlay {
    background-color: #fffaf5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    /* שחור שקוף */
    display: none;
    /* מוסתר בהתחלה */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* הקונטיינר הלבן עם הטקסט */
#instructions-modal {
    background: white;
    width: 70vw;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;
    direction: rtl;
    font-size: 2.4vmin;
    position: relative;
}

/* כפתור סגירה */
#close-instructions {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #5f8c90;
}

.btn-game2 {
    border-radius: 5px;
    font-family: "Avigul";
    font-size: 3vmin;
    direction: rtl;
    color: #61888d;
    border: 1px solid #c4cad1;
    background-color: #dbe8e3;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 30vw;
    cursor: pointer;
    text-align: right;
    top: 50%;
    right: 10%;

}


.scroll-box2 {
    width: 37vw;
    color: #61888d;
    height: 45vh;
    font-size: 3vmin;
    border: none;
    border-radius: 40px;
    background-color: #e6e6e6;
    position: absolute;
    right: 8%;
    top: 29%;
    /* direction: rtl; */
    padding: 1vh;
    padding: 2vh 1vw;
}

.scroll-inner2 {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 2vh;
    padding-right: 2vw;
    direction: ltr;
    /* חשוב */
}

.scroll-inner2 * {
    direction: rtl;
    text-align: right;
}


.text-block {
    margin-bottom: 16px;
}

.section {
    margin-bottom: 20px;
}

.ok {
    display: inline-block;
    margin-top: 6px;
    color: #2e7d32;
    font-weight: 600;
}

/* .scroll-inner2 p {
    direction: rtl;
    text-align: right;
} */

.scroll-inner2::-webkit-scrollbar {
    width: 1vw;
}

.scroll-inner2::-webkit-scrollbar-track {
    background: #c6b7aa;
    border-radius: 10px;
}

.scroll-inner2::-webkit-scrollbar-thumb {
    background: #e8ddd3;
    border-radius: 20px;
    border: 0.25vw solid #c6b7aa;
}

.scroll-inner2::-webkit-scrollbar-thumb:hover {
    background: #c6b7aa;
}









/* קונטיינר המשחק */
.match-game {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    /* font-family: Arial, sans-serif; */
    /* top: 50%;
    transform: translateY(-50%); */
}

/* שורות */
.row {
    top: 30vh;

    display: flex;
    gap: 12px;
    justify-content: center;
}

/* כרטיס כללי */
.card {
    font-size: 3.5vmin;
    /* top: 31.5vh; */
    top: 28vh;

    border: none;
    font-family: "AvigulReg";
    width: 180px;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    flex-shrink: 0;
    overflow: hidden;

    position: relative;
    /* חובה לאייקון */
}

/* כחולים */
.blue-card {
    background: #cfeff6;
    cursor: grab;
}

/* צהובים */
.yellow-card {

    background: #ffe4a8;
    border: none;
}

/* מצבים */
.correct {
    background: #dbf6fa !important;
}

.wrong {
    background: #ffd0d0 !important;
}

/* אייקונים */
.match-icon {
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}
